{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/chat_interface.css") }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/temporary.css") }}">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="chat_window_heading">
                    <h3>Alegralabs</h3><p>Ask me, to know us better.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="chat_window">
                <ul class="messages"></ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input id="msg_input" class="message_input" placeholder="Say Hi to begin chat..." />
                        <input type="hidden" id="usr_email" name="usr_email"/>
                        <input type="hidden" id="usr_phone_number" name="usr_phone_number"/>
                    </div>
                    <div class="send_message">
                         <div class="text">send</div>
                    </div>
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <div class="text"></div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block other_footers %}
<script src="{{ url_for('static', filename="js/bind.js") }}"></script>
{% endblock %}
